{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "useJSXTextNode": true
    },

    "ignorePatterns": [
      "dist/**/*" // Ignore built files.
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "jsx-a11y",
    "import",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": 1
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
